<p id="notice"><%= notice %></p>

<h1>Channels for <%= @headquarter.brand %></h1>
<span data-bs-toggle='modal' data-bs-target='#staticBackdrop'>
  <%= link_to 'New Channel', new_headquarter_channel_path(@headquarter), data: { 'turbo_frame': 'remote_modal'} %>
</span>

<div id="member_table">
  <%= render 'channels/components/channels_table/channels_table' %>
</div>
