<p id="notice"><%= notice %></p>

<h1>Memberships</h1>
<div class="row row-cols-2 g-3 gy-4" id="headquarters">
  <% @headquarter.memberships.each do |member| %>
    <%= render 'memberships/components/card', member: member %>
  <% end %>
</div>

<%= link_to 'New Membership', new_headquarter_membership_path(@headquarter) %>