<div class="p-2 d-flex justify-content-between align-items-center">
  <div class="ms-2">
    <span class="badge rounded-pill bg-secondary">X</span> products
  </div>
  <div>
    <h3 class="m-0">$xxxx</h3>
    IVA <span>$xxxx</span>
  </div>
</div>