<div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">
  <%= link_to "ticket mode", cashbox_mode_path(@channel, m_nav: 'default'), method: :get, class: "btn btn-outline-dark px-2" %>
  <%= link_to "stats", cashbox_mode_path(@channel, m_nav: 'stats'), method: :get, class: "btn btn-outline-dark px-2" %>
  <%= link_to "history", cashbox_mode_path(@channel, m_nav: 'history'), method: :get, class: "btn btn-outline-dark px-2" %>
</div>