<p id="notice"><%= notice %></p>

<h1>Products of <%= @warehouse.name %></h1>
<span data-bs-toggle='modal' data-bs-target='#staticBackdrop'>
  <%= link_to 'New Product', new_warehouse_space_path(@warehouse), data: { 'turbo_frame': 'remote_modal'} %>
</span>

<div id="products_table">
  <%= render 'spaces/components/products_table/products_table' %>
</div>

