<div class="vh-100 d-flex">
  <div class="col-7 h-100 overflow-auto">
    <div class="sticky-top py-2 bg-white shadow-sm">
      <h3> <%= @channel.headquarter.brand %> <%= @channel.name %></h3>
      <form class="d-flex px-3">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
    <div>
      <% 50.times do %>
        <%= render 'friedman/components/cashbox/search_item' %>
      <% end %>
    </div>
  </div>
  <div class="col-5 d-flex flex-column border shadow">
    <div class="h-100 overflow-auto">
      <div class="bg-white p-2 sticky-top border-bottom d-flex justify-content-between align-items-center">
        <h3 class="m-0">Ticket</h3>
      </div>
      <div class="p-2">
        <% 15.times do %>
          <%= render 'friedman/components/cashbox/item_card' %>
        <% end %>
      </div>
    </div>
    <div class="bg-light mt-auto border-top">
      <div class="p-2 d-flex justify-content-between align-items-center">
        <div class="ms-2">
          <span class="badge rounded-pill bg-secondary">X</span> products
        </div>
        <div>
          <h3 class="m-0">$xxxx</h3>
          IVA <span>$xxxx</span>
        </div>
      </div>
      <div class="border-top border-dark p-2 d-flex justify-content-between">
        <a href="#" class="btn btn-outline-danger">Discard</a>
        <a href="#" class="btn btn-success active" aria-current="page">Complete transaction</a>
      </div>
    </div>
  </div>
<div>