<p id="notice"><%= notice %></p>

<div class="d-flex justify-content-between mb-2">
  <h2 class="m-0 p-0">Cashbox mode</h2>
  <span data-bs-toggle='modal' data-bs-target='#staticBackdrop' >
    <%# <%= link_to 'Create New Headquarter', new_headquarter_path, class: "btn btn-outline-dark", data: { 'turbo_frame': 'remote_modal'} %>
  </span>
</div>

<div class="container">
  <%# TODO  %>
  <%= render 'friedman/components/channels/card' %>
</div>