<p id="notice"><%= notice %></p>

<div class="d-flex justify-content-between mb-2">
  <h2 class="m-0 p-0">Channels you own</h2>
  <%# TODO Link to action %>
</div>

<%= render 'friedman/components/channels/card', headquarters: current_user.headquarters %>

<%# TODO canales a los que perteneces invitado %>