<div class="dropdown">
  <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    actions
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item py-1" href="#">Channels access</a></li>
    <li><a class="dropdown-item py-1" href="#">Edit member</a></li>
    <li><hr class="dropdown-divider"></li>
    <li>
      <%= link_to "Cancel this membership", [@headquarter, member], method: :delete, class: "dropdown-item py-1", data: { confirm: 'Are you sure?' }  %>
    </li>
  </ul>
</div>