<table class="table">
  <thead>
    <tr>
      <th scope="col">Member</th>
      <th scope="col">Channels</th>
      <th scope="col">Status</th>
      <th scope="col">Role</th>
      <th class="text-end" scope="col">Actions</th>
    </tr>
  </thead>
  <tbody id="member-table-body">
    <% @headquarter.memberships.order("created_at DESC").each do |member| %>
      <%= render 'memberships/components/row', member: member %>
    <% end %>
  </tbody>
</table>