<div class="dropdown">
  <a class="btn btn-secondary btn-sm py-0 dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    actions
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li>
      <span data-bs-toggle='modal' data-bs-target='#staticBackdrop'>
        <%= link_to 'Show product', [@warehouse, space], class: "dropdown-item py-1", data: { 'turbo_frame': 'remote_modal'} %>
      </span>
    </li>

    <li>
      <span data-bs-toggle='modal' data-bs-target='#staticBackdrop'>
        <%= link_to "Edit product", edit_warehouse_space_path(@warehouse, space), class: "dropdown-item", class: "dropdown-item py-1", data: { 'turbo_frame': 'remote_modal'} %>
      </span>
    </li>

    <li><hr class="dropdown-divider"></li>
    <li>
      <%= link_to 'Destroy', [@warehouse, space], method: :delete, class: "dropdown-item py-1", data: { confirm: 'Are you sure?' }  %>
    </li>
  </ul>
</div>